# VIM
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.swp
*.vi

# IntelliJ
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules

# Node.js
node_modules

# Python
*.pyc

# SCSS
*.sass-cache

# FUCK EVERYONE WHO HAS THESE
.DS_Store
Desktop.ini
._*
Thumbs.db

# Diffs, Errors and Logs
*.diff
*.err
*.log

