[submodule "modules/liquidprompt"]
	path = modules/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
	branch = develop
[submodule "modules/prezto"]
	path = zsh/.zprezto
	url = https://github.com/zsh-users/prezto.git
